CONFIG_ARM=y
CONFIG_TARGET_TRUSTBOX=y
CONFIG_SYS_TEXT_BASE=0x82000000
CONFIG_QSPI_AHB_INIT=y
CONFIG_DEFAULT_DEVICE_TREE="trustbox"
CONFIG_SYS_LS_PPA_FW_ADDR=0x40280000
CONFIG_NR_DRAM_BANKS=2
CONFIG_PBL_RCW_SECUREBOOT=y

# SPL
CONFIG_SPL=y
CONFIG_FSL_LS_PPA=y
CONFIG_SPL_FSL_LS_PPA=y
CONFIG_ARMV8_SEC_FIRMWARE_SUPPORT=y
CONFIG_SPL_RAM_SUPPORT=y
CONFIG_SPL_RAM_DEVICE=y
CONFIG_SPL_OF_LIBFDT=y
CONFIG_SPL_LOAD_FIT=y
CONFIG_OF_LIST="trustbox"
CONFIG_SPL_FIT=y
CONFIG_FIT=y
CONFIG_SPL_SERIAL_SUPPORT=y
CONFIG_USE_TINY_PRINTF=y
CONFIG_SPL_LIBCOMMON_SUPPORT=y
CONFIG_SPL_LIBGENERIC_SUPPORT=y
CONFIG_SPL_MPC8XXX_INIT_DDR_SUPPORT=y
CONFIG_SPL_BOARD_INIT=y
CONFIG_SPL_DRIVERS_MISC_SUPPORT=y
CONFIG_SPL_STACK_R=y
CONFIG_SPL_STACK_R_ADDR=0x90000000
CONFIG_SPL_FIT_IMAGE_TINY=y
CONFIG_SPL_DM=y
CONFIG_FSL_SEC_MON=y
CONFIG_SPL_RSA=y
CONFIG_SPL_HASH_SUPPORT=y

# SPL device identity
CONFIG_FSL_CAAM=y
CONFIG_SPL_CRYPTO_SUPPORT=y
CONFIG_CMD_BLOB=y
CONFIG_CMD_DEKBLOB=y

CONFIG_CYRES=y
CONFIG_CYRES_CERT_CHAIN_ADDR=0x81FFD000
CONFIG_CYRES_CERT_CHAIN_SIZE=0x3000
CONFIG_CYRES_CERT_CHAIN_PATH_LENGTH=4
CONFIG_CYRES_KEY_BLOB_ADDR=0x81FFC000
CONFIG_CYRES_KEY_BLOB_SIZE=0x1000

CONFIG_AHCI=y
CONFIG_DISTRO_DEFAULTS=y
CONFIG_PFE_EMAC1_PHY_ADDR=0x1
CONFIG_PFE_EMAC2_PHY_ADDR=0x2
CONFIG_PHY_TI=y
# CONFIG_SYS_MALLOC_F is not set
CONFIG_FIT_VERBOSE=y
CONFIG_OF_BOARD_SETUP=y
CONFIG_OF_STDOUT_VIA_ALIAS=y
CONFIG_SYS_EXTRA_OPTIONS="QSPI_BOOT"
CONFIG_QSPI_BOOT=y
CONFIG_BOOTDELAY=-2
CONFIG_USE_BOOTARGS=y
CONFIG_BOOTARGS="console=ttyS0,115200 earlycon=uart8250,mmio,0x21c0500 lpj=250000 loglevel=2 noinitrd root=/dev/mmcblk0p1 rootfstype=ext4 rw rootwait"
CONFIG_USE_BOOTCOMMAND=y
# CONFIG_DISPLAY_BOARDINFO is not set
CONFIG_DISPLAY_BOARDINFO_LATE=y
CONFIG_CMD_MEMTEST=y
CONFIG_CMD_GPT=y
CONFIG_CMD_I2C=y
CONFIG_CMD_MMC=y
CONFIG_CMD_PCI=y
CONFIG_CMD_SF=y
CONFIG_CMD_USB=y
# CONFIG_CMD_SETEXPR is not set
CONFIG_CMD_CACHE=y
CONFIG_OF_CONTROL=y
CONFIG_ENV_IS_NOWHERE=y
CONFIG_NET_RANDOM_ETHADDR=y
CONFIG_DM=y
CONFIG_SATA_CEVA=y
CONFIG_DM_MMC=y
CONFIG_FSL_ESDHC=y
CONFIG_DM_SPI_FLASH=y
CONFIG_SPI_FLASH=y
# CONFIG_SPI_FLASH_USE_4K_SECTORS is not set
CONFIG_FSL_PFE=y
CONFIG_PHYLIB=y
CONFIG_DM_ETH=y
CONFIG_E1000=y
CONFIG_PCI=y
CONFIG_DM_PCI=y
CONFIG_DM_PCI_COMPAT=y
CONFIG_PCIE_LAYERSCAPE=y
CONFIG_SCSI=y
CONFIG_SCSI_AHCI=y
CONFIG_DM_SCSI=y
CONFIG_SYS_NS16550=y
CONFIG_SPI=y
CONFIG_DM_SPI=y
CONFIG_FSL_DSPI=y
CONFIG_USB=y
CONFIG_DM_USB=y
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_XHCI_DWC3=y
CONFIG_USB_STORAGE=y

# Secure boot
CONFIG_SECURE_BOOT=y
CONFIG_CHAIN_OF_TRUST=y
CONFIG_CMD_ESBC_VALIDATE=y
CONFIG_SYS_LS_PFE_ESBC_ADDR=0x40400000
CONFIG_SYS_LS_PPA_ESBC_ADDR=0x40440000
CONFIG_RSA=y
CONFIG_RSA_SOFTWARE_EXP=y
CONFIG_RSA_FREESCALE_EXP=y
CONFIG_SHA_PROG_HW_ACCEL=y

