if TARGET_TRUSTBOX

config SYS_BOARD
	default "trustbox"

config SYS_VENDOR
	default "scalys"

config SYS_SOC
	default "fsl-layerscape"

config SYS_CONFIG_NAME
	default "trustbox"

config SYS_LS_PPA_FW_ADDR
        hex "PPA Firmware Addr"
        default 0x40280000

config PBL_RCW_SECUREBOOT
	bool
	default n
	prompt "Enable Reset Control Word based secure boot for development"
	help
		To enable secure boot OTPMK and SRKH must be fused, u-boot-spl.bin must be signed, and the CSF header must be written to SPI flash.
		While using RCW secure boot a hash or signature failure while loading ESBC will not cause a boot halt, but SSM state will be non-secure.
		The Intent To Secure fuse should be blown for production platforms.

if CHAIN_OF_TRUST
config SYS_LS_PPA_ESBC_ADDR
	hex "PPA Firmware HDR Addr"
	default 0x403c0000
endif

menu "PFE configuration options"
	depends on FSL_PFE

config SYS_LS_PFE_ESBC_ADDR
	hex "PFE Firmware HDR Addr"
	default 0x40700000

config DDR_PFE_PHYS_BASEADDR
	hex "PFE DDR physical base address"
	default 0x03800000

config DDR_PFE_BASEADDR
	hex "PFE DDR base address"
	default 0x83800000

config SYS_LS_PFE_FW_ADDR
	hex "Flash address of PFE firmware"
	default 0x40240000

config PFE_EMAC1_PHY_ADDR
	hex "EMAC1 phy address"
	default 0x2

config PFE_EMAC2_PHY_ADDR
	hex "EMAC2 phy address"
	default 0x1

endmenu

source "board/freescale/common/Kconfig"

endif
